@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #fff;
}

.logo {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

.logo h1 span {
  font-family: 'Jolly Lodger', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
.nav {
  width: 100%;
  background-color: #000;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.user-menu {
  position: relative;
  align-content: center;
}

.user-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.menuLogout {
  position: absolute;
  right: 0;
  top: 55px;
  background: white;
  min-width: 150px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
  z-index: 10000;
}

.menuLogout a,
.menuLogout button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  color: #db1919;
  cursor: pointer;
}

.menuLogout a:hover,
.menuLogout button:hover {
  background: #aba7a7;
}

.content {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
