<div class="chat-container">

  <div class="messages">

    <div *ngFor="let msg of messages">

      <strong>
        {{msg.senderName}}
      </strong>

      :

      {{msg.content}}

      <small>
        {{msg.createdDate}}
      </small>

    </div>

  </div>

  <div *ngIf="isTyping">
    Typing...
  </div>

  <input [(ngModel)]="message" (input)="typing()" (blur)="stopTyping()">

  <button (click)="sendMessage()">

    Send

  </button>

</div>

<div class="row">

  <div class="col-4">

    <div *ngFor="let conv of conversations" (click)="openConversation(conv.id)">

      {{conv.subject}}

    </div>

  </div>

  <div class="col-8">

    <div *ngFor="let msg of messages">

      <b>
        {{msg.senderName}}
      </b>

      :

      {{msg.content}}

    </div>

    <input [(ngModel)]="messageText">

    <button (click)="sendMessage()">

      Send

    </button>

  </div>

</div>
