*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#000; 
}
.chat-container {
  width: 500px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000;
}

input {
  color: #000;
}
