<div class="hero-wrapper">
  <div class="hero-card">
    <img class="hero-bg" src="assets/images/train.jpg" alt="AM Bus on highway" />
    <div class="hero-content">
      <h1>Your Journey Starts Here</h1>
      <p>Book comfortable and affordable bus tickets to destinations<br>across the country. Safe, reliable, and on time.
      </p>
      <button class="btn-book" [routerLink]="['/user/BookTrip']">Book Now</button>
    </div>



  </div>
    @if(isloggedIn){
    <div (click)="OpenConv()" class="chat-bubble" >
      <i class="bi-chat"></i>
    </div>

    <div class="chat-popup hide">
      <div class="chat-header" >
        <div class="user-info" (click)="OpenConv()">
          <img src="https://i.pravatar.cc/40" alt="user">
          <span>Support Team</span>
        </div>
        <button (click)="closeModal()">✖</button>
      </div>

      <div class="chat-body">

        @for (item of AllMessage; track $index) {
          @if (item.senderId == userId) {
          <div class="message sent">
            {{item.content}}
          </div>
          }@else{
          <div class="message received ">
            {{item.content}}
          </div>
          }
        }
      </div>

      <div class="chat-footer">
        <input type="text" [(ngModel)]="message" placeholder="Type a message...">
        <button (click)="Send()">➤</button>
      </div>
    </div>

  }

</div>

<app-testimonials></app-testimonials>

<div class="seperator"></div>
<app-statistics-section></app-statistics-section>

<!-- <app-footer></app-footer> -->
