.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column;
  margin-bottom: 20px;
  min-height: 100vh;
}

/* .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
} */
