
<div class="form">
   <label>Status</label>
     <select class="select-form" [(ngModel)]="status"  (change)="GetMyTrip()">
       <option value="" selected >All</option>
        <option value="Scheduled">Scheduled</option>
        <option value="Completed">Completed</option>
     </select>
</div>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>DepartureTime</th>
      <th>ArrivalTime</th>
      <th>status</th>
      <th>AvailableSeats</th>
      <th>BusType</th>
      <th>Download File</th>
    </tr>
  </thead>
  <tbody>
      @for(item of AllTripss;track $index){
         <tr>
            <td>{{item.fromCity}}</td>
            <td>{{item.toCity}}</td>
            <td>{{item.departureTime}}</td>
            <td>{{item.arrivalTime}}</td>
            <td>{{item.status}}</td>
            <td>{{item.availableSeats}}</td>
            <td>{{item.busType}}</td>
            <td class="download"><a (click)="UploadFile(item.id)">Download</a></td>
         </tr>
      }
  </tbody>
</table>

<div (click)="OpenConv()" class="chat-bubble">
  <i class="bi-chat"></i>
</div>

<div class="chat-popup hide">
  <div class="chat-header">
    <div class="user-info" (click)="OpenConv()">
      <img src="https://i.pravatar.cc/40" alt="user">
      <span>Support Team</span>
    </div>
    <button (click)="closeModal()">✖</button>
  </div>

  <div class="chat-body">

    @for (item of AllMessage; track $index) {
    @if (item.senderId == userId) {
    <div class="message sent">
      {{item.content}}
    </div>
    }@else{
    <div class="message received ">
      {{item.content}}
    </div>
    }
    }
  </div>

  <div class="chat-footer">
    <input type="text" [(ngModel)]="message" placeholder="Type a message...">
    <button (click)="Send()">➤</button>
  </div>
</div>
