<div class="container-booktrip">
  <h2>Book Your Bus Journey</h2>
  <div class="trip">
    <form class="trip" [formGroup]="FormSearch" (ngSubmit)="search()">
    <div class="box">
      <label for="From">From</label>
        @if (isLoaded) {
          <select name="From" id="From" formControlName="fromId">
            <option value="" selected disabled hidden>Select City</option>
            @for(item of Routes;track item.id)
            {
            <option [attr.value]="item.name">{{item.name}}</option>
            }
          </select>
        }
    </div>
    <div class="box">
      <label for="to">To</label>
          @if (isLoaded) {
            <select name="To" id="to" formControlName="toId">
              <option value="" selected  disabled hidden>Select City</option>
              @for(route of Routes;track route.id)
              {
              <option [attr.value]="route.name">{{route.name}}</option>
              }

            </select>
          }
    </div>
    <div class="box">
      <label for="Date">Date</label>
      <input type="datetime-local" id="Date" placeholder="Date" formControlName="date">
    </div>

    <button type="submit" class="btn-search" >Search</button>
</form>
  </div>

  <div class="hide">
    @if(AllTrips.length > 0) {
    <h3>
      Available Trips
      <button class="btn-filter" style="background-color: transparent; color:#fff;"><i class="bi bi-arrow-clockwise" (click)="GetAllTrips()"></i></button>
    </h3>
    }
  </div>

    <div class="container-Buses">

  @for(trip of AllTrips;track trip.id)
  {
    <div class="bus">
      <div class="details">
        <div class="busnumber">
          <p class="type">{{trip.busType}}</p>
          <p>Bus #{{trip.busPlate}}</p>
        </div>
        <div class="route">
          <div class="from">
            <p class="time">{{trip.departureTime | date:'h:m a'}}</p>
            <p class="city">{{trip.fromCity}}</p>
          </div>
          <div class="line">
            <p>--------------- </p>
          </div>
          <div class="from">
            <p class="time">{{trip.arrivalTime | date:'h:m a'}}</p>
            <p class="city">{{trip.toCity}}</p>
          </div>
        </div>
        <div class="select">
          <p class="price">${{trip.basePrice}}</p>
          <button class="btn-select" (click)="SelectSeat(trip.id)">Select Seat</button>
        </div>
      </div>


    </div>
  }@empty {
    <h3>No Trips Available</h3>
  }

    </div>


    <div class="containerSeat hide">
    <div class="seats">
        <p> <span class="available"></span> Available   - <span class="unavailable"></span> Unavailable </p>
        <div class="seatlist">
          @for (item of AllSeats; track $index) {
          <button [class.available]="item.isAvailable" [class.unavailable]="!item.isAvailable" [disabled]="!item.isAvailable" [attr.id]   id="{{item.seatNumber}}" (click)="Select(item)">{{item.seatNumber}}</button>
          }
        </div>

        <div class="selectedSeat">
        <span>Selected Seats: </span>
          @for (item of SelectedSeat; track $index) {

          <button class="btn-seat" (click)="delete(item)">{{item.seatNumber}}</button>
          }@empty {
            <p>No Seats Selected</p>
          }
        </div>
        <p>if you want to remove a seat click on it</p>

    </div>
      <div class="btns">
        <button class="btn-book" type="button" (click)="CheckBook()">Book</button>
        <button class="btn-back" type="button" (click)="toogle()">Back</button>
      </div>
    </div>

      <div class="toast" id="toastError">
        <p class="toast-message"> </p>
      </div>


</div>

<div class="overlay hide "></div>



<div class="modal hide">
  @if(MyData != null && tripData != null) {
  <form [formGroup]="FormBook" (submit)="Book()">
     <label>Name</label>
     <input type="text" placeholder="Name" [value]="MyData.fullName" disabled/>
     <label>Email</label>
     <input type="text" placeholder="Email" [value]="MyData.email" disabled/>
     <label>PhoneNumber</label>
     <input type="text" placeholder="PhoneNumber" [value]="MyData.phoneNumber" formControlName="PhoneNumber"/>
     <div class="row">
      <div class="col">
     <label>From</label>
     <input type="text" placeholder="From" [value]="tripData.fromCity" disabled/>
    </div>
    <div class="col">
     <label>To</label>
     <input type="text" placeholder="To" [value]="tripData.toCity" disabled/>
    </div>
    </div>
     <label>Seats</label>
     <div class="seatlist">
      @for (item of SelectedSeat; track $index) {
        <label class="seatNumberLabel">{{item.seatNumber}}</label>
      }
     </div>
      <label>TotalBrice</label>
      <input type="text" placeholder="TotalBrice" [value]="tripData.basePrice * SelectedSeat.length" disabled/>

    <button type="submit" class="search-button">Confirm</button>
  </form>
}
  <button class="close-modal" (click)="closeModal()">X</button>
</div>

