/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

:root {
  --primary: #1e1e1e;
  --secondary: #ffffff;
  --hover: #db1919;
}

.mainlayout {
  background-color: #1e1e1e;
}

body {
  /* background-color: #1e1e1e; */
  width: 100%;
}

.Error {
  color: red;
  font-bold: 600;
  padding: 4px 10px;
  border-radius: 10px;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  border: 1px solid #fff;
  background-color: #fff;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slide-in 0.3s ease-in-out;
  display: none;
}
.toast.show {
  display: block;
}

.toast p {
  color: #ff0000;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.logo h1 span {
  color: var(--hover);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  z-index: 10000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 400px;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
}
.modal form input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  font-size: 15px;
  width: 100%;
  color: #000;
}
.modal form button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #1e1e1e;
  background-color: #fff;
  color: #1e1e1e;
  cursor: pointer;
}

.hide {
  display: none;
}

.close-modal {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: #bb0808;
  color: #fff;
  border: none;
  padding: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}
