* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}
.container h2 {
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 25px;
  font-weight: 900;
}
.container h2:after {
  content: '';
  display: block;
  width: 100px;
  height: 6px;
  background-color: #9b0a0a;
  margin: auto;
  margin-top: 10px;
}
.search {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 20px auto;
}

form {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}
form div {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.search-input,
select {
  padding: 8px;
  border-radius: 5px;
  width: 50%;
  border: none;
  outline: none;
  background-color: #ffffff;
  color: #000;
  margin-right: 10px;
  font-size: 15px;
}

select {
  width: 20%;
  color: #000;
}

option {
  color: #000;
}

button.search-button {
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  border: 1px solid #1e1e1e;
  background-color: #fff;
  color: #1e1e1e;
  cursor: pointer;
}

button.search-button:hover {
  background-color: #1e1e1e;
  color: #fff;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

th {
  background-color: #1e1e1e;
  color: #fff;
}

.edit,
.delete {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #1e1e1e;
  background-color: #fff;
  color: #1e1e1e;
  cursor: pointer;
}
.edit:hover {
  background-color: #04f945;
  color: #fff;
}

.delete:hover {
  background-color: #e50d0d;
  color: #fff;
}

i {
  color: #000;
}

tr button {
  margin-right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  z-index: 10000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 400px;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal form input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  font-size: 15px;
  width: 100%;
  color: #000;
}
.modal form button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #1e1e1e;
  background-color: #fff;
  color: #1e1e1e;
  cursor: pointer;
}

.hide {
  display: none;
}

.close-modal {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: #bb0808;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.close-modal i {
  color: #fff;
}

.add {
  position: fixed;
  bottom: 28px;
  right: 28px;
  z-index: 999;
  width: 52px;
  height: 52px;
  background-color: #05058d;
  color: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.add i {
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}
