<div class="container">
  <div class="navbar-container">
    <div class="size">
    <div class="logo" [routerLink]="['/user/home']">
      <h1><span>AM</span>BUS</h1>
    </div>

    <button class="menu" (click)="tooglemenu()">
      <i  class="bi bi-list"></i>
    </button>
  </div>

    <div class="container-list">
      <div class="list">
        <ul>
          <li><a [routerLink]="['/user/home']" [routerLinkActive]="['active']">Home</a></li>
          <li><a [routerLink]="['/user/BookTrip']" [routerLinkActive]="['active']">BookTrip</a></li>
          <li><a [routerLink]="['/user/MyTrips']" [routerLinkActive]="['active']">MyBooks</a></li>
          <!-- <li><a [routerLink]="['/user/About']" [routerLinkActive]="['active']">About</a></li> -->
          <li><a class="notify" [routerLink]="['/user/Notification']" [routerLinkActive]="['active']">notification</a></li>
        </ul>
      </div>
      <div class="auth">
        <!-- <a   [routerLink]="['/login']" (click)="logout()" >Logout</a> -->
      <div class="user-menu">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1YM3dx3reFLZOUbvkGRZJ5PQDbMo76y6E52Y_aALrXA&s" class="user-img" (click)="isOpen = !isOpen">
        <div class="menuLogout" *ngIf="isOpen">
          <a routerLink="/user/profile" (click)="!isOpen">Profile</a>
          <button (click)="logout()">Logout</button>
        </div>
      </div>

      </div>
    </div>


  </div>
</div>
